@model GymManagement.UI.Asp.NetMVC.Models.MemberVM.CreateMemberVm
@{
    ViewData["Title"] = "Register New Member";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    }

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-area="Member" asp-controller="Member" asp-action="Index">Home</a>
        </li>
        <li class="active">
            <a asp-area="Member" asp-controller="Member" asp-action="Create">Register Member</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-8 col-xs-12" style="margin-top: 1%;margin-left: 1%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Registration Form</span>
            </div>
            <div class="widget-body">
                <div id="registration-form">
                    <form asp-area="Member" asp-controller="Member" asp-action="Create" method="post" asp-antiforgery="true">
                        <div class="form-title">
                            User Information
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
                                <i class="glyphicon glyphicon-user circular green"></i>
                            </span>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
                                <i class="fa fa-info green"></i>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <select type="text" class="form-control" placeholder="Last Name" asp-for="Gender" asp-items="ViewBag.Gender"></select>
                                <i class="fa fa-info green"></i>
                            </span>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="date" class="form-control" placeholder="Birth Date" asp-for="BirthDate">
                                <i class="fa fa-calendar blue"></i>
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </span>
                           
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <select asp-for="Membership_Id" class="form-control"  asp-items="@ViewBag.Memberships">
                                </select>
                                <i class="fa fa-bars pink"></i>
                            </span>
                            <span asp-validation-for="Membership_Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="input-icon icon-right">
                                <input type="text" class="form-control" placeholder="Phone" asp-for="MobileNumber">
                                <i class="fa fa-mobile purple"></i>
                            </span>
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>

                        <br />
                        <button type="submit" class="btn btn-blue">Register</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-sm-3 col-xs-3 border">
        <img src="~/Member/assets/img/avatars/Free_user.png" style="max-width: 350px;max-height: 350px;margin-top: 3%" />
        <button type="button" class="btn btn-info">Upload</button>
    </div>
</div>