@model GymManagement.UI.Asp.NetMVC.Models.MemberVM.MemberVm
@{
    ViewData["Title"] = "Details of " + @Model.FirstName + " " + @Model.LastName;
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-area="Member" asp-controller="Member" asp-action="Index">Home</a>
        </li>
        <li class="active"><a asp-area="Member" asp-controller="Member" asp-action="Details" asp-route-id="@Model.Id">Details</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-8 col-xs-12" style="margin-top: 1%;margin-left: 1%">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Registration Form</span>
            </div>
            <div class="widget-body">
                <div id="registration-form">

                    <div class="form-title">
                        User Information
                    </div>
                    <input asp-for="Avatar" type="hidden" />
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <label asp-for="FirstName">First Name :</label>
                            <br/>
                            <input type="text" readonly asp-for="FirstName" placeholder="First Name" />
                            <i class="glyphicon glyphicon-user circular green"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <label asp-for="LastName">Last Name :</label>
                            <br/>
                            <input type="text" class="form-bordered" readonly asp-for="LastName" placeholder="Last Name" />
                            <i class="fa fa-info green"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <label asp-for="BirthDate">BirthDate :</label>
                            <br/>
                            <input type="text" class="form-check" readonly asp-for="BirthDate.Year" placeholder="Birth Data" />
                            <i class="fa fa-calendar blue"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <label asp-for="Membership_Id">MemberShip Type :</label>
                            <br/>
                            <input type="text" class="form-check" readonly asp-for="Membership_Id" placeholder="Membership Type" />
                            <i class="fa fa-bars pink"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            <label asp-for="MobileNumber">Mobile Number :</label>
                            <br/>
                            <input type="text" class="form-check" readonly asp-for="MobileNumber" placeholder="Mobile" />
                            <i class="fa fa-mobile purple"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        @{
                            if (@Model.IsPresent == true)
                            {
                                <span class="input-icon icon-right">
                                    <label asp-for="IsPresent">Is He/She Present ? </label>
                                    <br/>
                                    <input type="text" class="form-check text green" readonly asp-for="IsPresent" placeholder="Mobile" />
                                    <i class="fa fa-mobile purple"></i>
                                </span>
                            }
                            else
                            {
                                <span class="input-icon icon-right">
                                    <label asp-for="IsPresent">Is He/She Present ? </label>
                                    <br/>
                                    <input type="text" class="form-check text red" readonly asp-for="IsPresent" placeholder="Mobile" />
                                    <i class="fa fa-mobile purple"></i>
                                </span>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-sm-3 col-xs-3">
        <img src="~/img/@Model.Avatar" style="max-width: 350px;max-height: 350px;margin-top: 3%" />
    </div>
</div>

