
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a asp-area="Member" asp-controller="Member" asp-action="Index">Home</a>
        </li>
        <li class="active"><a>Dashboard</a></li>
    </ul>
</div>

